.row > .col,
.row > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

@font-face{
  font-family: 'Intro-Bold-Caps';
  src: url('../files/fonts/Intro-Bold-Caps.otf') format("opentype");
}

@font-face{
  font-family: 'IntroHeadR-Base';
  src: url('../files/fonts/IntroHeadR-Base.otf') format("opentype");
}

@font-face{
  font-family: 'Orpheus-Bold';
  src: url('../files/fonts/Orpheus-Bold.otf') format("opentype");
}

body{
  font-family: 'Intro-Bold-Caps';
  color: rgb(16, 20, 24);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main{
  flex: 1;
}

ul, li{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  &:hover, &:visited, &:link, &:active{
    text-decoration: none;
  }
}

.border-bot-white{
  border-bottom: 1px solid #fff;
}

.h2-title{
  font-family: 'Orpheus-Bold';
  font-size: 40px;
  color: rgb(27, 35, 31);
  font-weight: bold;
  position: relative;

  &::after{
    display: block;
    position: absolute;
    bottom: -32px;
    content: '';
    height: 6px;
    width: 100px;
    background-color: rgb(168, 13, 38);
    border-radius: 10px;
  }
}

.broken-span::before{
  display: block;
  content: '';
}

.red-span{
  color: rgb(168, 13, 38);
}

