@font-face{

  font-family: 'Intro-Bold-Caps';

  src: url('../files/fonts/Intro-Bold-Caps.otf') format("opentype");

}
@font-face{

  font-family: 'IntroHeadR-Base';

  src: url('../files/fonts/IntroHeadR-Base.otf') format("opentype");

}

body{
  font-family: 'Intro-Bold-Caps';
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main{
  flex: 1;
}