@import "settings";
@import "header";
@import "footer";




.slider{
  position: relative;

  &__item{

    &-inner{
      background-repeat: no-repeat;
      background-size: cover;
      height: 510px;
      padding: 0 10px 0;
    }

    &-title{
      padding: 80px 0 10px;
      color: #fff;
      font-size: 48px;
    }
    
    &-desc{
      font-family: 'IntroHeadR-Base';
      color: #fff;
      font-size: 18px;
      line-height: 1.556;
      margin-bottom: 32px;
    }

    &-button{
      font-size: 14px;
      width: 200px;
      height: 47px;
      background-color: rgb(251, 197, 84);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #000;
    }
  }

  &-button{
    position: absolute;
    bottom: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;

    &::after{
      display: block;
      content: '';
      background-image: url("../files/icons/next.svg");
      background-size: cover;
      height: 20px;
      width: 20px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-next{
    background-color: #a80d26;
    right: 10px;
  }

  &-prev{
    background-color: #fcc23e;
    transform: scale(-1, 1);
    right: 80px;
  }
}

.about{
  padding: 50px 0 70px;

  &__title{
    margin-bottom: 64px;
  }

  &__desc{
    font-family: 'IntroHeadR-Base';
    font-size: 22px;
    color: rgb(27, 35, 31);
    margin-bottom: 32px;
    line-height: 1.455;
  }

  &__photo{
    height: 340px;
    background-size: cover;
    box-shadow: 0px 10px 13px 5px rgba(0,0,0,0.5);
  }
}

.news{
  margin-bottom: 75px;

  &__title{
    margin-bottom: 74px;
  }

  .col-10{
    margin-bottom: 30px;
  }

  &__item{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 10px 2px rgba(0,0,0,0.5);
    padding-bottom: 20px;
    border-radius: 3px;
    &-photo{
      height: 227px;
      background-size: cover;
    }

    &-content{
      padding: 30px 33px 30px;
    }

    &-title{
      font-size: 18px;
      color: rgb(168, 13, 38);
    }

    &-data{
      font-size: 13px;
      color: rgb(133, 133, 133);
      margin-bottom: 12px;
    }

    &-desc{
      font-family: 'IntroHeadR-Base';
      font-size: 16px;
      color: rgb(27, 35, 31);
      line-height: 1.625;
    }

    &-button{
      align-self: center;
      font-size: 14px;
      width: 200px;
      height: 47px;
      background-color: rgb(251, 176, 20);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #000;
    }
  }
}

.menu{
  margin-bottom: 35px;

  &__list{

    &-item{
      color: #fff;
      overflow: hidden;
      cursor: pointer;

      &_o{

        .menu__list-item__title::after{
          display: block;
          content: '';
          position: absolute;
          right: 15px;
          width: 12px;
          height: 12px;
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;
          top: calc(50% - 5px);
          transform: rotate(45deg) translateY(-50%);
        }
      }

      &_c{

        .menu__list-item__title::after{
          display: block;
          content: '';
          position: absolute;
          right: 10px;
          width: 12px;
          height: 12px;
          top: calc(50% - 5px);
          border-bottom: 1px solid #fff;
          border-right: 1px solid #fff;;
          transform: rotate(-45deg) translateY(-50%);
        }

        .menu__sublist{
          height: 0;
        }
      }


      &__title{
        width: 100%;
        background-color: rgb(168, 13, 38);
        display: flex;
        font-size: 24px;
        align-items: center;
        height: 90px;
        padding-left: 30px;
        position: relative;
        color: #fff;

        &::after{
          transition: all 1s;
        }
      }
    }
  }

  &__sublist{



    &-4i{
      height: 352px;
    }

    transition: all .7s;


    &-item{
      height: 88px;
      border-top: 1px solid #000;
      font-size: 24px;

      &__link{
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        position: relative;
        padding-left: 100px;
        color: rgb(27, 35, 31);


        &::before{
          display: block;
          content: '';
          position: absolute;
          left: 25px;
          width: 40px;
          height: 40px;
          background-size: cover;
          transform: translateY(-50%);
        }
      }
    }
  }

  &_main:before{
    background-image: url("../files/icons/004-restaurant.svg");
    top: calc(50% + 1px)
  }

  &_bar:before{
    background-image: url("../files/icons/003-restaurant-1.svg");
    top: calc(50% - 1px)
  }

  &_special:before{
    background-image: url("../files/icons/002-restaurant-2.svg");
    top: calc(50% - 0px)
  }

  &_child:before{
    background-image: url("../files/icons/001-baby.svg");
    top: calc(50% - 5px)
  }
}

.info{
  padding-left: 33px;
  margin-bottom: 90px;

  &__time{
    margin-bottom: 40px;

    &-title{
      font-size: 12px;
    }

    &-days{
      color: rgb(16, 20, 24);
    }
  }

  &__contacts{
    color: rgb(168, 13, 38);
    font-size: 22px;
  }

  &__phone{
    font-size: 30px;
    color: rgb(16, 20, 24);
    white-space: nowrap;
  }
}


@media screen and (max-width:400px){

  .header__logo{
    margin-left: -40px;
  }

  .info{
    padding-left: 0;
  }

  .social__title {
    white-space: normal;

    &::after{
      display: none;
    }
  }

  .social-default{
    padding-right: 70px;
  }

}